.input-field {
  padding: 0.8rem;
  margin: 0.8rem;
  height: 4.3rem;
  background: #FBFCFF;
  border: 0.05rem solid rgba(0, 0, 0, 0.4);
  border-radius: 0.2rem;
  width: 37.1rem;
  box-sizing: border-box;
}