nav a {
  font-size: 1.5rem;
  font-family: "Alegreya", serif;
  color: #000000;
}
.notification-logo {
  height: 2rem;
  width: 2rem;
}
.search-logo {
  position: absolute;
  top: 15px;
  left: 340px;
}
.collapse {
  .navbar-nav {
    position: relative;
  }
}
@media (max-width: 900px) {
  .show {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
    padding: 0 1rem;
  }
}
@media (max-width: 400px) {
  input {
    width: auto;
  }
  .show {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
  }
  .d-xs-block {
    display: block !important;
  }
  .d-xs-none {
    display: none !important;
  }
  .px-5, .pl-5 {
    padding-right: 1.2rem!important;
    padding-left: .8rem!important;
  }
}

@media (max-width: 355px) {
  .navbar.navbar-expand-lg {
    .feather {
      width: 19rem;
    }
  }
}