.signup-form-container {
  .input-field {
    margin-bottom: 2rem;
  }
  h3 {
    font-size: 2.2rem;
  }
  a {
    color: $brand-color;
    letter-spacing: 0.15rem;
  }
}
.signup-title {
  max-width: 120px;
}
.signup-form {
  margin: auto;
}

.signup-form form {
  margin-top: 40px;
}

.signup-form input {
  margin-top: 20px;
  height: 4.8rem;
  outline: none;
}
.signup-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.signup-form button {
  margin: 20px auto;
}

.align-button {
  display: flex;
  align-items: center;
  width: 95%;
  margin: 1.5rem auto 2rem auto;
}
.mx-5 {
  margin-right: 3rem !important;
  height: 4rem;
}

a.ml-2 {
  color: #0b41cd !important;
  font-weight: bold;
}
.Modal {
  background: transparent;
  outline: none;
  border-radius: 0.4rem;
  flex-wrap: wrap;
}
.modal-dialog.Modal {
  max-width: 40rem;
}
.modal-body {
  max-width: 40rem !important;
  position: relative;
  z-index: 999;
  padding: 3em 2em 0 2em;
  background: rgba(255, 255, 255, 0.04);
  -webkit-box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
}

.fade.modal.show {
  display: flex!important;
  align-items: center;
  justify-content: center;
}
.SMGVi {
  width: 100%;
  padding: 0.8rem;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 3.5rem;
  font-size: 1.5rem;
}
.SMGVi::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
h3.text-center.mt-5 {
  margin-top: 0 !important;
}
