.signup-form-container {
  width: 100%;
  padding: 20px 0 20px 0;
}

.signup-form {
  width: 90%;
  margin: auto;
}

.signup-form form {
  margin-top: 40px;
}

.signup-form input {
  margin-top: 20px;
}

.signup-form button {
  margin: 20px auto;
}

.align-button {
  width: 95%;
  margin: 15px auto;
}
