.signup-form-container {
  width: 100%;
  padding: 20px 0 0 0;
  .input-field {
    margin-bottom: 2rem;
  }
  h3 {
    font-size: 2.2rem;
  }
  a {
    color: $brand-color;
    letter-spacing: .15rem;
  }
}

.signup-form {
  width: 90%;
  margin: auto;
}

.signup-form form {
  margin-top: 40px;
}

.signup-form input {
  margin-top: 20px;
  height: 4.8rem;
  outline: none;
}

.signup-form button {
  margin: 20px auto;
}

.align-button {
  display: flex;
  align-items: center;
  width: 95%;
  margin: 1.5rem auto 2rem auto;
}
.mx-5 {
  margin-right: 3rem !important;
  height: 4rem;
}
